<content class="comment-index">

  <% @comments.each do |comment| %>
    <% if user_signed_in? && comment.user == current_user %>
      <section class="comment-container">
        <div class="comment-head">
          <p class="comment-user">
            <%= comment.user&.email %>
          </p>

          <div class="comment-actions">
            <%= link_to '', edit_post_comment_path(comment.post, comment), class: 'fa-solid fa-wrench' if user_signed_in? && comment.user == current_user %>
            <%= link_to '', post_comment_path(comment.post, comment), class: 'fa-solid fa-trash', method: :delete if user_signed_in? && comment.user == current_user %>
          </div>
        </div>
        <p class="comment-date"><%= comment.created_at %></p>
        <div class="comment-body">
          <p class="comment-content"><%= comment.content %></p>
        </div>
      </section>
    <% end %>
  <% end %>

</content>

<%= paginate @comments %>
